body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightcoral;
}

/*Header*/
header{
    background-color: maroon;
    color: white;
    padding: 1.2%;
    text-align: center;
    font-family: Arial, sans-serif;
}

/*Navigaiton*/
nav {
    background-color: firebrick;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: tomato;
    border-radius: 4px;
    color: black;
}

/*About Section*/
#summary {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    background-color: orangered;
    border-radius: 15px;
}
#about-text {
    flex: 1;
}
#about-video {
    flex: 1;
}

/*Education Section*/
#education {
    padding: 20px;
    margin: 20px;
    background-color: red;
    border-radius: 15px;
}

/*Skills Section*/
#skills {
    padding: 20px;
    margin: 20px;
    background-color: crimson;
    border-radius: 15px;
}
#skills ul li{
    list-style: none;
}
#skills ul li ul li {
    list-style: disc;
}
#skills ul li ul li ul.a li{
    list-style: circle;
}

/*Career Section*/
#career {
    padding: 20px;
    margin: 20px;
    background-color: brown;
    border-radius: 15px;
}

#projects {
    padding: 20px;
    margin: 20px;
    background-color: salmon;
    border-radius: 15px;
}

/*Contact Section*/
#contact {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    background-color: indianred;
    border-radius: 15px;
}
#contact #contact-details a {
    color: black;
}
#contact #contact-details a:hover {
    color: white;
}
#contact-details {
    flex: 1;
}
#contact-form {
    flex: 1;
}
#contact-form input, #contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#contact-form textarea {
    resize: none;
}
#contact-form button {
    width: 100%;
    background: #222;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
#contact-form button:hover {
    background: tomato;
    color: black;
}

/*Footer*/
footer {
    color: white;
    background-color: maroon;
    padding: 0.7%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Mobile Responsiveness*/
@media (max-width: 768px) {
    #summary {
        flex-direction: column;
    }
    #about-text, #about-video {
        width: 100%;
    }
    nav a {
        display: block;
        margin: 8px 0;
    }
    #contact {
    flex-direction: column;
    }
    #contact-details, #contact-form {
        width: 95%;
    }
}